html {
  box-sizing: border-box;
}

*,
*:before *:after {
  box-sizing: inherit;
}

@import "modules/footer.scss";

.background--js {
  background: pink;
}

.body {
  background: #ecfee8;
  background: linear-gradient(
    328deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(7, 59, 154, 1) 0%,
    rgba(9, 15, 125, 1) 0%,
    rgba(136, 201, 201, 0.33657212885154064) 0%,
    rgba(160, 205, 215, 0.7791491596638656) 15%,
    rgba(241, 181, 137, 0.6951155462184874) 30%,
    rgba(238, 209, 221, 0.7343312324929971) 52%,
    rgba(155, 233, 204, 0.6951155462184874) 74%,
    rgba(193, 236, 220, 0.8491771708683473) 89%
  );
  margin: 16px auto;
  &--js {
    background: rgb(240, 228, 230);
  }
}

.body-header {
  display: grid;
  grid-template-areas: "h4 h4" "nav nav";
  grid-template-columns: 1fr 1fr;
  &__logo {
    color: #21069c;
    margin: 16px auto;
    grid-area: h4;
    grid-column: 2 / span 2;
    &--picture {
      background: black;
      width: fit-content;
      margin: 0;
    }
  }
}

.hamburger {
  display: none;
}

.learn--js {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

main {
  width: 1000px;
  margin: 16px auto;
}

#mojezdjecie {
  width: 220px;
  height: 300px;
  margin: 16px auto;
  display: block;
  border: 10px double #721216;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
}

.main-header {
  color: #331832;
  background: #e1b07e;
  height: fit-content;
  border: 4px double #16e4eb;
  border-radius: 32px;
  padding: 16px 25vw;
  &::before {
    content: "= ";
  }
  &::after {
    content: " = ";
  }
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  grid-area: nav;
  grid-column: 1/3;
  align-items: center;
  &__link--homepage {
    background: #a9edee;
  }
  &__link:hover {
    background: yellow;
  }
  &__link:visited {
    color: rgb(23, 67, 228);
  }
}

.roadmap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.special-text {
  margin: 2px 6px 2px 0;
  padding-left: 6px;
  text-decoration: underline;
}

.space {
  height: 300px;
}

.table {
  width: 100%;
  border: 2px solid gray;
  text-align: center;
  &__row {
    background: yellowgreen;
  }
  &__body {
    color: #e9393f;
    background: rgb(184, 231, 91);
  }
}

.week {
  color: #796011;
  background-color: #c4cc4e;
  padding-left: 435px;
  &__title {
    color: #748b75;
    background: #ccffcb;
  }
  &__article {
    margin: 6px;
    width: 1000px;
  }
  &__article::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: rgb(38, 20, 202);
    border-radius: 50%;
  }
  &__article::after {
    content: "//";
    font-weight: bold;
    color: rgb(38, 20, 202);
  }
}

#zasadaWaznosci {
  max-height: 3cm;
}

@import "modules/media.scss";
