h4{color: #21069c;}
h1{color: #721216;background-color: #f7d4db; }
h2{color: #796011;background-color: #c4cc4e;}
body{background:#ECFEE8;}
footer{background-color: #FCF6B1;}
#logowtf {background: black;}
#mojezdjecie {width: 200px; height: 300px;
display: inline;}

#zasadaWaznosci {max-height: 3cm;}
.logo-header{color: #331832;}
.week-header{color: #41337A; background: #C2EFEB;}
.main-header{color: #331832;background: #E1B07E;}
.article-header{color: #748B75; background: #CCFFCB;}
.body-header{background: #FCF6B1;}