h4 {
  color: #21069c;
}
h1 {
  color: #721216;
  background-color: #f7d4db;
}
h2 {
  color: #796011;
  background-color: #c4cc4e;
}
body {
  background: #ecfee8;
}
footer {
  background-color: #fcf6b1;
}
#logowtf {
  background: black;
}
#mojezdjecie {
  width: 220px;
  height: 300px;
  margin: 16px 64px;
  display: block;
  border: 10px double #721216;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
}

#zasadaWaznosci {
  max-height: 3cm;
}
.logo-header {
  color: #331832;
}
.week-header {
  color: #41337a;
  background: #c2efeb;
}
.main-header {
  color: #331832;
  background: #e1b07e;
}
.article-header {
  color: #748b75;
  background: #ccffcb;
}
.body-header {
  background: #fcf6b1;
}
