html {
  box-sizing: border-box;
}

*,
*:before *:after {
  box-sizing: inherit;
}

.body {
  background: #ecfee8;
  background: linear-gradient(
    328deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(7, 59, 154, 1) 0%,
    rgba(9, 15, 125, 1) 0%,
    rgba(136, 201, 201, 0.33657212885154064) 0%,
    rgba(160, 205, 215, 0.7791491596638656) 15%,
    rgba(241, 181, 137, 0.6951155462184874) 30%,
    rgba(238, 209, 221, 0.7343312324929971) 52%,
    rgba(155, 233, 204, 0.6951155462184874) 74%,
    rgba(193, 236, 220, 0.8491771708683473) 89%
  );
  width: 100%;
  margin: 16px auto;
}
.footer {
  background-color: #fcf6b1;
  border-radius: 32px;
}
.footer__name {
  color: tomato;
  background: turquoise;
  width: 1000px;
  padding: 1px 400px;
  margin: 1px auto;
  box-sizing: border-box;
}
.footer__link {
  width: 1000px;
  padding-left: 385px;
  margin: 16px auto 1px;
  box-sizing: border-box;
  display: block;
}
.footer__logo {
  padding-left: 450px;
}
#mojezdjecie {
  width: 220px;
  height: 300px;
  margin: 16px 64px;
  display: block;
  border: 10px double #721216;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
}

#zasadaWaznosci {
  max-height: 3cm;
}

.week {
  color: #796011;
  background-color: #c4cc4e;
  padding-left: 435px;
}
.week__title {
  color: #748b75;
  background: #ccffcb;
}
.week__article {
  margin: 6px;
  width: 1000px;
  background:
}

.main-header {
  color: #331832;
  background: #e1b07e;
  height: 64px;
  border: 4px double #16e4eb;
  border-radius: 32px;
  padding: 32px 38% 0;
}

.body-header {
  display: grid;
  grid-template-areas: "h4 h4" "nav nav";
  grid-template-columns: 1fr 1fr;
  
}
.body-header__logo {
  color: #21069c;
  margin: 16px auto;
  grid-area: h4;
  grid-column: 2 / span 2;
}
.body-header__logo--picture {
  background: black;
  width: fit-content;
  margin: 0;
}
main {
  width: 1000px;
  margin: 16px auto;
}
.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  grid-area: nav;
  grid-column: 1/3;
  
}
.navigation__link {
  align-items: center;
}
.navigation__link--homepage {
  background: #a9edee;
}
.special-text {
  margin: 2px 6px 2px 0;
  padding-left: 6px;
  text-decoration: underline;
}

.learn--js {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

.table {
  width: 100%;
  border: 2px solid gray;
  text-align: center;
}

.table__row {
  background: yellowgreen;
}

.table__body {
  color: #e9393f;
  background: rgb(184, 231, 91);
}
